{% load static %}
<style> .centered { width: 400px; position: absolute; left: 50%; margin-left: -200px; } 
    body{background: #74d2dc;}
    form{font-family:나눔고딕;}
    div{font-family:나눔고딕;}
    .main-select{height: calc(2.25rem + 2px);color: #495057; background: #fff;border: 1px solid #ced4da;}
    .main-input{height: calc(2.25rem + 2px);color: #495057; background: #fff;border: 1px solid #ced4da;padding: 5px; }
</style>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script type="text/javascript">
            function load_fuc(){
                document.getElementById('loading').style.visibility = 'visible';
                document.getElementById('form').style.visibility = 'hidden';
            }
        </script>
    </head>

    <body class="w3-container">
        {% comment %} 로 딩 페 이 지 {% endcomment %}
        <div align='center' id="loading" 
            style='width: 100%;  height: 100%; display: block; position: fixed; opacity: 1.0; background-color: #fff; z-index: 99; visibility:hidden; margin: 0 auto;'>
            <img id="loading-image" src="{% static './loading.gif' %}" alt="Loading..." style="position: absolute;  top: 400px; left: 45%; z-index: 100; margin: 0 auto;">
            <p style='line-height: 1000px; text-align: center;'>
            Naum이 상품제목에 대한 점수를 계산 중 입니다. 잠시만 기다려 주세요.</p></div>

        <form action="/sub" id='form' method="get" onsubmit='load_fuc'>
                {% comment %} <div class="w3-display-container w3-text-white">
                <img src="{% static 'main_image.jpg' %}" alt="Lights" style="width:100%; opacity: 0.2;"> {% endcomment %}
                <!-- <div class="w3-display-topleft w3-container"><p>Top Left</p></div> -->
                <!-- <div class="w3-display-topright w3-container"><p>Top Right</p></div> -->
                <!-- <div class="w3-display-bottomleft w3-container"><p>Bottom Left</p></div> -->
                <!-- <div class="w3-display-bottomright w3-container"><p>Bottom Right</p></div> -->
                <div class="w3-display-topmiddle" style="top:40%; font-weight:500; font-size:1.2em; color:white; position:absolute">상품명과 상품제목을 입력하시면 제목에 대한 점수를 알려드립니다.</div>
                <!-- <div class="w3-display-left w3-container">Left</div>
                <div class="w3-display-right w3-container">Right</div> -->
                <div class="w3-display-middle w3-large">
                    <label for='main-select'><p style="font-size:9pt;">Category</p>
                    <select class="main-select" name="product_select">
                        <option value="50000145">축산</option>
                        <option value="50000159">수산</option>
                        <option value="50000160">농산물</option>
                        <option value="50000150">가공식품</option>
                        <option value="50000026">냉동/간편조리식품</option>
                        <option value="50000146">반찬</option>
                        <option value="50000147">김치</option>
                        <option value="50000148">음료</option>
                    </select>
                    </label>
                
                    <label for='main-input'><p style="font-size:9pt;">Product Name</p>
                    <input class="main-input" type="text" placeholder="상품명" name="product" size=12 /> </label>
                
                    <label for='main-input' ><p style="font-size:9pt;">Title</p>
                    <input class="main-input" type="text" placeholder="상품제목" style="width: 10cm;" name="title"></label>

                    <button type="submit" id='button' onclick='load_fuc()'><img src="{% static 'icon.png' %}" width="15"height="28"></button>
                </div>
                <div class="w3-display-bottommiddle"><p>네이버 쇼핑 상품명 추천 시스템 Naum입니다.</p></div>
                <!-- <div class="w3-display-position w3-padding w3-red" style="top:100px;left:100px">Positioned</div> -->
            </div>
        </form>
    </body>
</html>