{% load static %}
<head>
    <link rel ="stylesheet" href={% static './css/guide.css' %}>
</head>

<diV> 
    <h2>상품정보 가이드라인</h2>
    <h3>1. 상품명</h3>
    <p>사용자가 당신의 상품을 잘 찾고 구매를 결정할 수 있는 명확하고 충분한 정보를 제공하여야 합니다. 제조사, 유통 채널에서 이용되는
    공식적인 상품 정보 만을 사용하고, 상품 정보에 이벤트, 구매 조건 등의 판매 정보를 포함하지 않는 것이 중요합니다. 특히 브랜드,
    제조사, 시리즈, 모델명은 공식 명칭 만을 사용하고, 색상 명칭, 상품에 포함된 수량, 상품의 속성 등은 임의로 변경하지 않습니다.
    네이버 지식쇼핑에서는 쇼핑에서 사용되는 키워드에 대해서 언어 전문 인력이 상시 모니터링을 통해 동의어/유의어를 구축하고 있습니다.
    영문, 오타, 외래어 표기 등 여러 가지 형태를 구축하고 있으며, 해당 동의어/유의어는 검색에서 자동 처리되기 때문에 중복 기재할 필요가
    없습니다. 공식적으로 많이 사용하는 키워드 하나(가능하면 외래어 표기에 따른 한글로 기입)만 기입하시면 됩니다.
    상품명에 많은 단어가 포함되어 있다고 해서 검색이 잘되는 것이 아닙니다. 오히려 중복 단어 사용 및 상품명과 관련 없는 키워드, 수식어,
    판매조건 등을 기입하면 어뷰징으로 인식되어 검색에서 불이익을 받게 됩니다. 이는 정확한 상품명을 제공하는 판매자에게는 공정한
    기회를 제공하고, 쇼핑검색을 이용중인 사용자에게는 탐색편의를 위한 장치입니다.</p>

    <dt>• 아래 내용은 있다면 필수적으로 기입하고 가능한 아래 순서대로 기입</dt>
    <dd>
        <ul>
            <li>브랜드/제조사</li>
            <li>시리즈</li>
            <li>모델명 (모델 코드)</li>
            <li>상품 유형 (형태)</li>
            <li>색상 : 다중 색상 허용</li>
            <li>소재</li>
            <li>패키지 내용물 수량</li>
            <li>성별 나이 표현 (남성/여성/유아)</li>
            <li>속성 (Spec, 용량, 무게, 연식, 호수)</li>
    </dd>
    <dt>• 50자 내외의 텍스트 사용을 권장하고 조사, 수식어 사용하지 않음 (최대 100자 허용)</dt>
    <dd>        
        <ul>
            <li>50자 이상은 어뷰즈로 판단될 확률이 높음.</li>
        </ul>
    </dd>
    <dt>• 브랜드, 제조사, 동일한 상품명이나 단어를 반복해서 사용하지 않음 </br>
    • 셀러, 쇼핑몰명, 상호명을 상품명에 포함하지 않음 (판매처명으로 별도 노출됨)</br>
    • 한글을 이용하고 필요한 경우에 영문을 사용, 숫자는 아라비아로 표현함, 한글/영문 외에 다른 언어는 사용하지 않음</br>
    • ( ) - · [ ] / & + , ~ . 외의 특수문자 및 기호는 사용하지 않음. 특수문자도 많이 사용하지 않음.</br>
    • 패키지 상품의 경우 내용물의 숫자를 정확히 표현</br>
    • 이벤트, 판매조건, 할인 가격, 쿠폰, 적립 등은 기입하지 않음, 별도로 준비된 이벤트, 가격, 쿠폰, 적립 필드를 이용</br>
    • 하나의 상품 만을 판매하고 단일 정보만 기입함, 카테고리 및 유형이 다른 상품을 하나의 상품으로 묶어서 판매하지 않음. 서로 다른
    브랜드/제조사 상품을 모아서 판매하지 않음.</br>
    </dt>

    <h4>아래에 대표적인 상품명 예시입니다. 간결하지만 사용자가 필요한 정보는 모두 담고 있습니다. 가격비교상품이 이미 있다면 해당 상품명을
    참고하시면 도움이 됩니다.</h4>
    <dt>
    • 파나소닉 루믹스 DMC-GM1 디지털 카메라 (1210만 화소)</br>
    • 애플 뉴맥북프로 MGXC2KH/A (레티나 15인치, 256GB SSD)</br>
    • GUESS 스키니 청바지 2599 다크 인디고 남성</br>
    • 왕자행거 뉴 프리미엄 커튼형행거 드레스룸 완전밀폐형 3P</br>
    • 아모레퍼시픽 헤라 옴므 셀 프로텍션 선커버 레포츠 50ml (SPF50)</br>
    • 마미포코 팬티형기저귀 4단계 대형 38매 (남여선택)</br>
    </dt>

    </br>
    <h3>2. 유의 사례</h3>
    • 홍보성 수식어 단어 사용 지양
    <ul><li>주문폭주, 즉시할인, 재입고, 한정, 가격, 첫구매, 문의, 구매불가, 공짜, 품절, MD추천, 1위, 선착순, 임박, 인기, 가성비, 
    최고, 상담, 적립, 떙처리, 저렴, 추천, 신상품, 공식, 정품, 이벤트, 긴급모객 등 </ul></li>
    • 사회적이슈가 되는 단어 사용불가
    <ul><li>정치인명이나 유해물질이 발견된 상품모델이 포함된 경우 자동으로 저품질 처리될 수 있음</ul></li>
    • 띄어쓰기
    <ul><li>띄어쓰기가 너무 없거나 불필요하게 많이 쓰지 않도록 유의</br>
    예) 원목인형/구체관절인형/관절손/데생/목각인형/미술한글</li></ul>
    • 전화번호
    <ul><li>전화번호 사용을 금지함</li></ul>
    • 정품 표시
    <ul><li>상품명에서 정품 표시는 가급적 지양하며, 상품상세에서 정품여부에 대한 정보를 제공하는 것을 권장함</li></ul>
    • 명품 단어 사용
    <ul><li>상품모델을 지칭하는 경우만 예외적으로 허용함</br>
    예) 쿠첸 명품철정 4인용 IH압력밥솥</li></ul>
    • 고급
    <ul><li>고유상품명에 포함되는 경우만 예외적으로 허용함</br>
    예) 대상 청정원 팜고급유 1호 선물세트</li></ul>
    • 이월 상품 표시
    <ul><li>의류 시즌 표시는 “연도+계절” 형식으로 명확하게 표시</br>
    예) 2013 F/W, 2014 S/S </br>
    예) 2014 가을, 2014 봄</li></ul>
    <ul><li>상품을 인식하는 필요한 최소한 정보 외에 불필요하게 많은 정보를 포함함</li></ul>
    <ul><li>셀러 고유의 식별 코드를 기입하지 않음</br>
    예) IP01, Y01, ST, _ES, EZ, YJ</li></ul>
    • 옵션 선택 상품
    <ul><li>브랜드만 동일하고 모델명이 다른 경우</br>
    예) 루미녹스 3051/7057/3051/3051-BO/3053/3089/3081/3151/3057/3042/3059/3151/3083</br>
    →해당 상품 서비스 중지, 개별 상품으로 등록 요망</li></ul>
    <ul><li>사이즈, 색상, 모델이 다른 경우</br>
    예) RB2132(52mm,55mm) RB2140(50mm,54mm) RB2140A RB2151A</br>
    →해당 상품 서비스 중지, 개별 상품으로 등록 요망</ul></li>
    <ul><li>제품군, 속성이 모두 다른 경우</br>
    예) 2014 F/W신상 플랫슈즈/키높이플랫/슬립온/로퍼 38종</br>
    예) 어반모카 와이어 멀티바스켓 외 공간활용 수납용품 13종 모음</br>
    →해당 상품 서비스 중지, 개별 상품으로 등록 요망</ul></li>
    • 상품 정보
    <ul><li>해외, 중고, 대여, 렌탈, 도서, 음반, DVD에 대해서는 EP 가이드에 따라 태그를 정확히 기재해야 함</ul></li>
    <ul><li>무료배송, 당일발송도 EP 가이드에 따라 배송료, 배송부가정보 등의 필드로 데이터를 기재해야 함</ul></li>
    • 상품을 식별하기 충분한 정보 부족
    <ul><li>해당 상품 서비스 중지. 제품 정보 재기입 요청, 해당 정보는 이벤트 필드로 변경</br>
    예) 10만원/15만원이상구매시 캐릭터썬캡/5천원문화상품권증정(소진시까지)</ul></li>
    <ul><li>자동 번역을 통해 상품명을 파악할 수 없는 경우</br>
    예) [해외]GINOVO GINOVO 블랙 가장자리, 2 II N7100 금 색깔 Samsung 은하 주를위한 호환성 주거 건전지 문 뒤 표지 금속 알루미늄 교체를 닦 았</ul></li>
</div>