{% load static %}
<html>
    <head>
        <link rel ="stylesheet" href={% static './css/sub.css' %}>
        <script language="javascript">
            function guidePopup(){window.open("/naverguide","guidePopup","width=800, height=900, left=700, top=150");}
        </script>
    </head>

    <body>
        <div class="sub-top">
            <center>
                <h3>입력하신 상품제목은 "{{title}}" 입니다.</h3>
            </center>
        </div>

        </br>
        <div class="sub-mid">
            <center>
                <!-- 워드 클라우드 -->
                <h2> {{product}}와 관련된 연관 키워드입니다</h2>
                <img src="{% static './wordcloud.png' %}" style='left:50%;'width='1700', height='600'/>
                <!-- 검색어 트렌드(bokeh) -->
                <h2>네이버 검색어 트렌드를 보여 드립니다<h2>
                {{div | safe}}
            </center>
        </div>
        
        <!-- url 뒤에 embed 꼭 들어가야 함-->
        </br>
        <div class='instagram'>
            <center>
                <h2>instagram #{{product}} 인기 게시물</h2>
                <table width='1200' height='600'>
                    <tr>
                        <td><embed src="{{url1}}" frameborder="0" scrolling="no" allowtransparency="True"></embed></td>
                        <td><embed src="{{url2}}" frameborder="0" scrolling="no" allowtransparency="true"></embed></td>
                        <td><embed src="{{url3}}" frameborder="0" scrolling="no" allowtransparency="true"></embed></td>
                    </tr>
                </table>
            </center>
        </div>
        <div class='sub-bottom'>
            <a href='#' onclick='guidePopup();' align='center' ><center>[네이버쇼핑 상품정보 가이드 보기]<center></a>
                {% comment %} <img src="{% static './기준내용.png' %}" width=900, height=400/>
                <img src="{% static './가이드.png' %}" width=900, height=400/> {% endcomment %}
        </div>
    </body>
        <script text="type/Javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
        <script text="type/Javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
        <script text="type/Javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
        <script text="type/Javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-1.4.0.min.js"></script>
        {{script | safe}}

</html>
